
<button (click)="getRooms()">Get Rooms</button>

<div [@stagger]="roomList.length" class="rooms">
  <div *ngFor="let room of roomList">
    <button [class.selected]="room === selectedRoom" type="button" (click)="onSelect(room)">
      <span class="badge">{{room.id}}</span>
      <!-- <span class="name">{{room.name}}</span> -->
    </button>
  </div>
</div>

<!-- <div *ngIf="selectedRoom">
  <h2>{{selectedRoom.name | uppercase}} Details</h2>
  <div>id: {{selectedRoom.id}}</div>
  <div>
    <label for="hero-name">Hero name: </label>
    <input id="hero-name" [(ngModel)]="selectedRoom.name" placeholder="name">
  </div>
</div> -->

<!-- <ul [@roomListState] #roomList id="roomList">
	{{RoomList}}
</ul> -->