.rooms {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
	
  // width: 15em;
}

.rooms li {
  display: flex;
}

.rooms button {
  flex: 1;
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #EEE;
  margin: .5em;
  padding: 0;
  border-radius: 4px;
  display: flex;
  align-items: stretch;
  height: 1.8em;
}

.rooms button:hover {
  color: #2c3a41;
  background-color: #e6e6e6;
  left: .1em;
}

.rooms button:active {
  background-color: #525252;
  color: #fafafa;
}

.rooms button.selected {
  background-color: black;
  color: white;
}

.rooms button.selected:hover {
  background-color: #505050;
  color: white;
}

.rooms button.selected:active {
  background-color: black;
  color: white;
}

.rooms .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0em 0.7em 0 0.7em;
  background-color: #405061;
  // line-height: 1em;
  // margin-right: .8em;
  border-radius: 4px 0 0 4px;
}

.rooms .name {
  align-self: center;
}