<p-table
  #dt
  [value]="users"
  [rows]="10"
  [showCurrentPageReport]="true"
  [rowsPerPageOptions]="[10, 25, 50]"
  styleClass="p-datatable-customers p-datatable-gridlines"
  [paginator]="true"
  currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
  [globalFilterFields]="['firstname']"
>
  <ng-template pTemplate="caption">
    <div class="p-d-flex">
      <span class="p-input-icon-left p-ml-auto">
        <i class="pi pi-search"></i>
        <input
          type="text"
          pInputText
          size="50"
          placeholder="Global Filter"
          (input)="dt.filterGlobal($any($event.target).value, 'contains')"
          style="width: auto"
          placeholder="Search user"
        />
      </span>
    </div>
  </ng-template>

  <ng-template pTemplate="header">
    <tr>
      <th>
        <div class="p-d-flex p-jc-between p-ai-center">Avatar</div>
      </th>
      <th>
        <div class="p-d-flex p-jc-between p-ai-center">Name</div>
      </th>
      <th>
        <div class="p-d-flex p-jc-between p-ai-center">Display name</div>
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-user>
    <tr>
      <td>
        <app-user-avatar
          [avatarUrl]="user?.avatarUrl"
          [user]="user"
        ></app-user-avatar>
      </td>
      <td>
        <span class="image-text">{{ user?.firstName }}</span>
      </td>
      <td>
        <span class="image-text">{{ user?.displayName }}</span>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage">
    <tr>
      <td colspan="7">No users found.</td>
    </tr>
  </ng-template>
</p-table>
