<aside class="sidebar">
  <div #ballWrap id="ball-wrapper">
    <div
      #ball
      class="ball"
      [@ballMove]="{
        value: selection,
        params: { topBall: topBall, leftBall: leftBall }
      }"
    ></div>
  </div>
  <div class="menu-trigger" (click)="isOpen = !isOpen">
    <i class="gg-menu-boxed"></i>
  </div>
  <div class="side-menu" *ngIf="isOpen" [@sideMenu]>
    <div class="menu-close" (click)="isOpen = !isOpen">
      <i class="gg-close-r"></i>
    </div>
    <nav class="nav">
      <div class="menu-item">
        <ul>
          <li
            (mouseover)="select($any($event.target))"
            (mouseout)="unselect($any($event.target))"
            routerLink="/play"
          >
            <a>Play</a>
          </li>
          <li
            (mouseover)="select($any($event.target))"
            (mouseout)="unselect($any($event.target))"
            routerLink="/watch"
          >
            <a>Watch</a>
          </li>
          <li
            (mouseover)="select($any($event.target))"
            (mouseout)="unselect($any($event.target))"
            routerLink="/chats"
          >
            <a>Chats</a>
          </li>
          <li
            (mouseover)="select($any($event.target))"
            (mouseout)="unselect($any($event.target))"
            routerLink="/users"
          >
            <a>Users</a>
          </li>
          <li
            (mouseover)="select($any($event.target))"
            (mouseout)="unselect($any($event.target))"
          >
            <a routerLink="/stats">Stats</a>
          </li>
          <li
            (mouseover)="select($any($event.target))"
            (mouseout)="unselect($any($event.target))"
          >
            <a href="#">Settings</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</aside>
