<aside class="sidebar">
  <div class="menu-trigger" (click)="isOpen = !isOpen">
    <i class="gg-menu-boxed"></i>
  </div>
  <div class="side-menu" *ngIf="isOpen" [@sideMenu]>
    <div class="menu-close" (click)="isOpen = !isOpen">
      <i class="gg-close-r"></i>
    </div>
    <nav class="nav">
      <div class="menu-item">
        <ul>
        	<li><a routerLink="/" (click)="isOpen = !isOpen">HOME</a></li>
        	<li><a routerLink="/play" (click)="isOpen = !isOpen">PLAY</a></li>
			<li><a routerLink="/watch"(click)="isOpen = !isOpen">WATCH</a></li>
			<li><a routerLink="/chat" (click)="isOpen = !isOpen">CHAT</a></li>
			<li><a routerLink="/users/id" (click)="isOpen = !isOpen">USERS</a></li>
			<li><a routerLink="/stats" (click)="isOpen = !isOpen">STATS</a></li>
			<li><a routerLink="/settings" (click)="isOpen = !isOpen">SETTINGS</a></li>
			<li><a routerLink="/search"(click)="isOpen = !isOpen">SEARCH</a></li>
        </ul>
      </div>
    </nav>
  </div>
</aside>
