<aside class="sidebar">
  <div class="menu-trigger" (click)="isOpen = !isOpen">
    <i class="gg-menu-boxed"></i>
  </div>
  <div class="side-menu" *ngIf="isOpen">
    <div class="menu-close" (click)="isOpen = !isOpen">
      <i class="gg-close-r"></i>
    </div>
    <nav class="nav">
      <div class="menu-item">
        <ul>
          <li><a routerLink="/play">PLAY</a></li>
					<li><a routerLink="/watch">WATCH</a></li>
					<li><a routerLink="/chat">CHAT</a></li>
					<li><a routerLink="/users/id">PROFIL</a></li>
					<li><a routerLink="/search">SEARCH</a></li>

        </ul>
      </div>
    </nav>
  </div>
</aside>
