* {
	font-family:	Franchise;
	font-weight: 100;
	// letter-spacing: 4px;
	// font-size: 150px;
}

span {
	// display: none;
	color: #f8e300;

	text-shadow:
		0 0 7px #0082FD,
		0 0 10px #0082FD,
		0 0 21px #0082FD,
		0 0 42px #e60073,
		0 0 82px #e60073,
		0 0 92px #e60073,
		0 0 102px #e60073,
		0 0 151px #e60073;

}

span:hover {
	text-shadow:
		0 0 7px #e60073,
		0 0 10px #e60073,
		0 0 21px #e60073,
		0 0 42px #0082FD,
		0 0 82px #0082FD,
		0 0 92px #0082FD,
		0 0 102px #0082FD,
		0 0 151px #0082FD;
}

.sidebar {
	position: static;
	float: left;
	padding-top: 600px;
	width: 25%;
	height: 100%;
	background: #662d91;
	font-size: 0.65em;
	z-index: 10;
  }


//   @media screen and (min-width: 0px) and (max-width: 1200px) {
// 	nav.navbar{
// 	  background-color: #171717 !important;
//  	  transition: all 1s ease;

// 	}
//   }


  .nav {
	position: relative;
	margin: 0 15%;
	text-align: right;
	top: 50%;
	transform: translateY(-50%);
	font-weight: bold;
  }

  .nav ul {
	list-style: none;

	li {
	  position: relative;
	  margin: 3.2em 0;

	  a {
		font-size: 50px;
		line-height: 5em;
		text-transform: uppercase;
		text-decoration: none;
		letter-spacing: 0.4em;
		// color: rgba(#FFF, 0.35);
		display: block;
		transition: all ease-out 300ms;
		color: #f8e300;
		cursor: pointer;

	text-shadow:
		0 0 7px #0082FD,
		0 0 10px #0082FD,
		0 0 21px #0082FD,
		0 0 42px #e60073,
		0 0 82px #e60073,
		0 0 92px #e60073,
		0 0 102px #e60073,
		0 0 151px #e60073;
	  }

	  &.active a {
		color: white;

	  }

	  &:not(.active)::after {
		opacity: 0.4;
	  }

	  &:not(.active):hover a {
		color: rgba(#FFF, 0.75);
		text-shadow:
		0 0 7px #e60073,
		0 0 10px #e60073,
		0 0 21px #e60073,
		0 0 42px #0082FD,
		0 0 82px #0082FD,
		0 0 92px #0082FD,
		0 0 102px #0082FD,
		0 0 151px #0082FD;
	  }

	  &::after {
		content: '';
		position: absolute;
		width: 100%;
		height: 0.2em;
		background: black;
		left: 0;
		bottom: 0;
		background-image: linear-gradient(to right, #f8e300, #0082FD)
	  }

	  &::after:hover {
		content: '';
		position: absolute;
		width: 100%;
		height: 0.2em;
		background: black;
		left: 0;
		bottom: 0;
		background-image: linear-gradient(to right, #0082FD, #f8e300)
	}
  }
}

#ballWrap {
	position: relative;


}

.ball {
	position: absolute;
	animation: float 3.5s ease-in-out infinite;
	height: 80px;
	width: 80px;
	border-radius: 50%;


	background: radial-gradient( circle at 75% 30%, white 5px, #e60073 8%,
	#0082FD 60%, #e60073 100%);

	box-shadow: inset 0 0 20px #e60073, inset 10px 0 46px
	#0082FD, inset 88px 0px 60px #e60073, inset -20px -60px 100px
	#0082FD, inset 0 50px 140px #fde9ea, 0 0 90px #fff;
}

.ball:hover {
	animation: float 3.5s ease-in-out infinite;
	height: 80px;
	width: 80px;
	border-radius: 50%;
	position: relative;

	background: radial-gradient( circle at 75% 30%, #e60073 5px, #0082FD 8%,
	#e60073 60%, #e60073 100%);

	box-shadow: inset 0 0 20px #0082FD, inset 10px 0 46px
	#e60073, inset 88px 0px 60px #0082FD, inset -20px -60px 100px
	#fff, inset 0 50px 140px #fff, 0 0 90px #fff;
}

@keyframes float {
	0% {
		transform: translateY(-20px);
	}
	50% {
		transform: translateY(20px);
	}
	100% {
		transform: translateY(-20px);
	}
}

// .navbar_all {
// 	background-color:	gray;
// }

// .navbar_all a {
// 	text-decoration: none;
// 	font-family: monospace;
// 	color: black;
// }
// .navbar-nav {
// 	list-style-type: none;
// 	margin: 0px;
// 	padding: 0px;
// }

// .navbar-nav li {
// 	text-align: center;
// 	display: inline-block;
// 	padding: 20px;
// }

// .navbar-nav a:hover {
// 	color: aqua;
// }

// *,*:before,*:after {
// 	box-sizing: border-box;
// }

// :after {
// 	content: "";
// }

// // @font-face {
// // 	font-family: PowerRangers;
// // 	src: url(../../../font/powerRangers.ttf);
// // }

// //title
// section {
// 	// font-family: PowerRangers;
// 	background-color: transparent;
//   	position: relative;
//   	left: 400px;
// }

// h1 {
// 	background-color: transparent;
//   	margin:80px 0 10px 0;
//   	font-size: 52px;
//   	font-family: 'Montserrat', sans-serif;
//   	text-transform: uppercase;
//   	text-shadow: 1px 1px 0px #DC143C,
// 		2px 2px 0px #DC143C,
// 		3px 3px 0px #DC143C,
// 		4px 4px 0px #DC143C;
// }
// //===============
// // h2 {
// //   font-size: 24px;
// // }

// body {
//   	padding: 100px 0;
// 	background: lightblue;
//   	color: white;
//   	max-width:640px;
// 	font-family: 'Montserrat', sans-serif;
// 	font-size: 14px;
//   	line-height:1.4;
//   	font-smoothing: anti-aliased;
// }

// nav {
//   	float: left;
// 	position: relative;
// 	top: 0;
//   	left: -100px;
// 	background: transparent;
// }

// nav :hover {
// 	transform: translateX(52px);
// 	// left: 0;
// 	transition:all .4s ease-out;
// }
// nav :hover:after {
// 	left: 0px;
// 	transition:all .4s ease-out;

// }

// nav ul {
// 	transition:all .4s ease-out;

// 	text-align: center;
// 	text-decoration: none;
// }

// nav ul li {
// 	position: relative;
//   	width: 70px;
//   	cursor: pointer;
// 	background: #34495E ;
// 	text-transform: uppercase;
// 	transition:all .4s ease-out;
// }

// nav ul li:after {
// 	position: absolute;
// 	background: white;
// 	color: #34495E ;
// 	top:0;
// 	left: 70px;
// 	width: 70px; height: 100%;
//   	opacity:.5;
//   	transform: perspective(400px) rotateY(90deg);
// 	transform-origin: 0 100%;
// 	transition:all .4s ease-out;
// }

// nav ul li:first-child {
// 	border-top-right-radius: 8px;
// }

// nav ul li:last-child {
// 	border-bottom-right-radius: 8px;

// }

// nav ul li:nth-child(1):after {
// 	content: "Home";
// 	line-height: 88px;
// 	// color: white;
// 	// background-color: #34495E ;
// }
// nav ul li:nth-child(2):after {
// 	content: "User";
// 	line-height: 88px;
// }
// nav ul li:nth-child(3):after {
// 	content: "Stats";
// 	line-height: 85px;
// }
// nav ul li:nth-child(4):after {
// 	content: "Chats";
// 	line-height: 70px;
// }

// nav ul li:hover {
// 	transform: translateX(-70px);
// }

// nav ul li:hover:after {
//   opacity: 1;
// 	transform: perspective(400px) rotateY(0deg) scale(1) ;
// }


// nav ul li > div {
// 	display: inline-block;
// 	padding: 25px 0;
// 	background: transparent;
// }

// nav ul li div { position: relative; }

// .roof {
// 	width: 0;
// 	height: 0;
// 	top:2px;
// 	border-style: solid;
// 	border-width: 0 21px 15px 21px;
// 	border-color: transparent transparent #ffffff transparent;
// }

// .roof-edge {
// 	position: absolute;
// 	z-index: 20;
// 	left: -17px;
// 	top: 3px;
// 	width: 0;
// 	height: 0;
// 	border-style: solid;
// 	border-width: 0 17px 12px 17px;
// 	border-color: transparent transparent #34495E transparent;
// }
// /*white triangle over red triangle*/
// .roof-edge:after {
// 	position: absolute;
// 	left: -14.5px;
// 	top: 3px;
// 	width: 0;
// 	height: 0;
// 	border-style: solid;
// 	border-width: 0 14.5px 10px 14.5px;
// 	border-color: transparent transparent white transparent;
// }

// .front {
// 	position: relative;
// 	top: 3px;
// 	width: 28.5px;
// 	height: 20px;
// 	margin: 0 auto;
// 	background: white;
// }
// /*door*/
// .front:after {
// 	position: absolute;
// 	background: #34495E;
// 	width: 11px;
// 	height: 13px;
// 	bottom: 0;
// 	left:9px;
// }

// /*/// About me ////*/

// .head {
// 	width: 32px;
// 	height: 35px;
// 	background: white;
// 	border-radius:8px;
// }
// /*mouth*/
// .head:after {
// 	width: 4px;
// 	height: 10px;
// 	background: white;
// 	position: absolute;
// 	border-radius:4px 0 0 4px;
// 	top:21px;
// 	left: 14px;
// 	transform:rotate(270deg);
// }

// .eyes {
// 	width: 8px;
// 	height: 5px;
// 	border-radius: 50%;
// 	position: absolute;
// 	top: 10px;
// 	left: 5px;
// 	background: blue;
// }
// /*right eye*/
// .eyes:after {
// 	width: 8px;
// 	height: 5px;
// 	border-radius: 50%;
// 	position: absolute;
// 	top: 0;
// 	left: 14px;
// 	background: blueviolet;
// }

// .beard {
// 	width: 32px;
// 	height: 17px;
// 	background: #34495E;
// 	border:2px solid white;
// 	position: absolute;
// 	bottom: 0;
// 	left: 0;
// 	border-radius:0 0 8px 8px;
// }
// /*nose*/
// .beard:after {
// 	position: absolute;
// 	top:-2px;
// 	left: 11px;
// 	background: white;
// 	width:6px;
// 	height: 4px;
// 	border-left:1px solid #34495E;
// 	border-right:1px solid #34495E;
// }

// /*//work//*/

// .paper {
// 	position: relative;
// 	height:32px;
// 	width: 29px;
// 	background: white;
// 	border:2px solid white;
// }

// /*window*/
// .paper:after {
// 	position: absolute;
// 	top:1px;
// 	left: 0;
// 	width: 25px;
// 	height: 29px;
// 	background: white;
// 	border-top:4px solid #34495E;
// }

// .lines {
// 	position: absolute;
// 	top: 36px;
// 	left: 5px;
// 	width: 11px;
// 	box-shadow: 0 0 0 1px #34495E;
// }

// .lines:after {
// 	position: absolute;
// 	top: 4px;
// 	left: 3px;
// 	width: 14px;
// 	box-shadow: 0 0 0 1px #34495E;
// }

// .lines:nth-child(2) {
// 	position: absolute;
// 	top: 44px;
// 	left: 8px;
// 	width: 11px;
// }

// .lines:nth-child(2):after {
// 	position: absolute;
// 	top: 4px;
// 	left: -3px;
// 	width: 11px;
// }

// .lines:nth-child(3) {
// 	position: absolute;
// 	top: 52px;
// 	left: 8px;
// 	width: 14px;
// }

// .lines:nth-child(3):after {
// 	display: none;
// }

// /*//mail //*/

// .mail-base {
// 	position: relative;
// 	width: 32px;
// 	height: 18px;
// 	background: white;
// }

// .mail-top {
// 	position: absolute;
// 	z-index: 20;
// 	left: 0;
// 	top: 0;
// 	width: 0;
// 	height: 0;
// 	transform: rotate(180deg);
// 	border-style: solid;
// 	border-width: 0 16px 11px 16px;
// 	border-color: transparent transparent #34495E transparent;
// }

// .mail-top:after {
// 	position: absolute;
// 	z-index: 20;
// 	left: -16px;
// 	top: 3px;
// 	width: 0;
// 	height: 0;
// 	border-style: solid;
// 	border-width: 0 16px 9px 16px;
// 	border-color: transparent transparent white transparent;
// }



// .change {
// 	display: none;
// }
