
<div class="container" data-hover="change display name">
    <input
      type="text"
      style="font-weight: 300; color: yellow"
      pInputText
      class="transparent-background color-bottom-border input-font"
      placeholder="{{ user?.displayName }}"
      [(ngModel)]="displayName"
      #dname="ngModel"
      [ngModelOptions]="{ standalone: true }"
      ngFormControl="control"
      />
      <button
      *ngIf="userIsMe"
      pButton
      pRipple
      type="button"
      label="Click"
      icon="pi pi-check"
      class="p-button-rounded p-button-outlined profile_button"
      (click)="changeDisplayName()"
      ></button>
      <div *ngIf="dname.invalid && (dname.dirty || dname.touched)" class="ng-invalid ng-dirty">
        <div *ngIf="dname.errors?.['required']">
          Display name is required
        </div>
      </div>
  </div>
