<section class="pong-game">
	<div id="screenContainer" class="watch-screen">
		<div class="col-12 flex align-items-center justify-content-center">
			<div class="grid">
				<div class="col-8 flex align-items-center justify-content-center">
						<app-user-avatar></app-user-avatar>
				</div>
				<div class="col-4 flex align-items-center justify-content-center"><h2>VS</h2></div>
				<div class="col-8 flex align-items-center justify-content-center"></div>
			</div>
		</div>
		<canvas #game id="gameCanvas"  width="{{dimension.w}}" height="{{dimension.h}}" ></canvas>
		<span id="score1" class="score" [innerHTML]="score.p1"></span>
		<span id="score2" class="score" [innerHTML]="score.p2"></span>
		<!-- <span [innerHTML]="timer"></span> -->
		<span id="countdown" [@.disabled]="animDisabled" [@countdown]="{value: countdown}" [innerHTML]="countdown"></span>
		<!-- <button (click)="testCountdown()">Countdown test</button> -->
	</div>
</section>
