#screenContainer {
	position: relative;
	display: inline-block;
}

#gameCanvas {
	// margin-right: 100px;
	border: 1px solid white;
	background-color: black;
	z-index: 5;
	border-radius: 10px;
	width:  auto;
	height: auto;
}

#screenContainer .score {
	position: absolute;
	font-size: 100px;
	z-index: 10;
	transform: translateX(-50%);
	opacity: 0.5;
	
}

#score1 {
	left: 35%;
}

#score2 {
	left: 65%;
}

#countdown {
	position: absolute;
	font-size: 100px;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}
