<div
  class="h-full flex flex-column align-content-start channels border-right-2 px-2 py-2"
  style="min-width: 15rem"
>
  <div class="flex justify-content-center">
    <h2>Channels</h2>
  </div>
  <div>
    <div class="flex justify-content-center mb-2">
      <button
        pButton
        pRipple
        label="Create"
        icon="pi pi-plus"
        type="button"
        class="p-button-rounded"
      ></button>
    </div>
    <app-chat-channel></app-chat-channel>
    <app-chat-channel></app-chat-channel>
    <app-chat-channel></app-chat-channel>
    <app-chat-channel></app-chat-channel>
    <app-chat-channel></app-chat-channel>
    <app-chat-channel></app-chat-channel>
    <app-chat-channel></app-chat-channel>
    <app-chat-channel></app-chat-channel>
    <app-chat-channel></app-chat-channel>
    <app-chat-channel></app-chat-channel>
    <app-chat-channel></app-chat-channel>
    <app-chat-channel></app-chat-channel>
    <app-chat-channel></app-chat-channel>
    <app-chat-channel></app-chat-channel>
    <app-chat-channel></app-chat-channel>
    <app-chat-channel></app-chat-channel>
    <app-chat-channel></app-chat-channel>
    <app-chat-channel></app-chat-channel>
    <app-chat-channel></app-chat-channel>
    <app-chat-channel></app-chat-channel>
    <app-chat-channel></app-chat-channel>
    <app-chat-channel></app-chat-channel>
  </div>
</div>
