<!-- <div class="flex justify-content-center">
  <div *ngIf="rooms?.length; else noRooms" class="flex-grow-1 mb-4 mx-8">
    <p-table
      [value]="rooms"
      selectionMode="single"
      [(selection)]="selectedRoom"
      dataKey="id"
      responsiveLayout="scroll"
      (onRowSelect)="onRowSelect($event)"
    >
      <ng-template pTemplate="header">
        <tr>
          <th>Id</th>
          <th>Name</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-room>
        <tr [pSelectableRow]="room">
          <td>{{ room.id }}</td>
          <td>{{ room.name }}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  <ng-template #noRooms><div>You are not in any chat rooms</div></ng-template>
</div>

<p-button class="ml-8" label="Create room" (onClick)="createRoom()"></p-button> -->

<div
  class="flex flex-row justify-content-center surface-100 border-round mx-6 my-6"
  style="height: 95%"
>
  <app-chat-channel-list
    [channels]="rooms"
    (channelSelect)="onChannelSelect($event)"
    class="h-full flex-none flex border-right-2"
  ></app-chat-channel-list>
  <app-chat-message-list
    [chatMessages]="selectedChannel?.messages"
    [roomId]="selectedChannel?.id"
    [user]="findMe()"
    class="h-full flex-grow-1 flex"
    (onLeaveChannel)="userLeaveChannel($event)"
  ></app-chat-message-list>
  <div class="h-full flex-none flex flex-column border-left-2">
    <app-chat-user-list
      [users]="selectedChannel?.users"
      [roomId]="selectedChannel?.id"
      class="flex-grow-1"
      (userSelect)="userListClick($event)"
    ></app-chat-user-list>
    <app-chat-friend-list class="flex-grow-1"></app-chat-friend-list>
  </div>
</div>
