.matchWinner {
	background-color: rgba(green, 0.5);
}

.matchLoser {
	background-color: rgba(red, 0.5);
}

:host ::ng-deep p-table{
  background-color: rgba(#7869C4, 1) !important;
	color: #fff;
	border: black;

}
:host ::ng-deep th{
  background-color: rgba(#7869C4, 1) !important;
	color: #fff;
}

:host ::ng-deep tr{
  background-color: rgba(#00A595, 1) !important;
	-webkit-text-stroke: black;
	-webkit-text-stroke-width: 1px;
	font-family: "PixelPowerline";
	font-weight: 50;
	font-size: 1rem;
	color: #fff;
}
