#friend-list {
  display: block;
  margin: 0;
  padding: 0;
  width: 300px;
  height: 100%;
  background: rgb(89, 13, 203);
  list-style-type: none;
  float: right;
}

.friend {
  width: 300px;
  height: 60px;
  background: rgb(89, 13, 203);
  border-bottom: 1px solid rgb(212, 33, 240);
  cursor: pointer;
  display: flex;
  align-items: center;
}
.friend img {
  width: 45px;
  height: 45px;
  border-radius: 30px;
  border: 2px solid rgb(71, 0, 147);
  object-fit: cover;
  margin-left: 5px;
  margin-right: 10px;
}

.friend .name {
  font-size: 18px;
}

.friend.selected {
  background: #8f43a0;
  color: white;
}

.friend.selected img {
  border-color: white;
}

.friend:not(.selected):hover {
  background: rgb(137, 252, 54);
}

.ban-button{
  width:25px;
  height: 25px !important;
}
