.container{
  position: relative;
  display: inline-block;
}

.container img{
  width: 200px;
  height: 200px;
}

.container .btn{
  position: absolute;
  top: 65%;
  left: 67%;
  background-color: transparent;
  border: none;
}

.profile-img {
  z-index: -1;
  border: 3px solid #000;
    overflow: hidden;
    border-radius: 0px;
    max-width: 200px;
    margin: 0rem 2rem 2rem 2rem;
    box-shadow: -13px -13px #7869C4,
                -11px -13px #000,
                -13px -11px #000,
                -15px -15px #000;
	border-radius: 16px;
  }
  
//   @media screen and (max-width:600px){
//     .profile-img{
//       width: auto;
//       max-width: 300px;
//       float: initial;
//       display: table-column;
//       margin: 2rem 0rem 0rem 2rem;
//     }
//     .container .btn{
//       position: absolute;
//   top: 50%;
//   left: 50%;
//   transform: translate(110%, 105%);
//   background-color: transparent;
//   border: none;
//     }
//   }

:host ::ng-deep .p-message.p-message-error{
  position: fixed;
  top: 0px;
  right: 0px;
  z-index: 10px;

 }
  
 :host ::ng-deep .p-fileupload-choose{
  background-color: #00a595;
  color: #7869C4;
  border: 3px solid black;
  border-bottom-right-radius: 12px;
  position: absolute;
  bottom: 100%;
  left: 0%;
  right: 50%;
 }


 :host ::ng-deep .p-fileupload-choose:hover {
	color: #7869C4;
  background-color: transparent;
	border: 3px solid #7869C4;
}

  :host ::ng-deep .p-card{
    background-color: #00A595 !important;
  } 