
.container{
  position: relative;
  width: 100%;
  z-index: 0;
}

.container img{
  width:100%;
  height: auto;
}

.container .upload{
  position: absolute;
  top: 80%;
  left: 80%;
}


.profile-img {
  border: 3px solid #000;
    overflow: hidden;
    border-radius: 0px;
    width: 45px;
    height: auto;
    max-width: 150px;
    min-height: auto;
    margin: 0rem 2rem 2rem 2rem;
    box-shadow: -13px -13px #7869C4,
                -11px -13px #000,
                -13px -11px #000,
                -15px -15px #000;
    float: left;
	border-radius: 16px;
  }
  
  @media screen and (max-width:800px){
    .profile-img{
      width: auto;
      max-width: 300px;
      float: none;
      display: table-column;
      margin: 2rem 0rem 0rem 2rem;
    }
  }

  ::ng-deep .p-selectbutton .p-button.p-highlight {
    color: #68758A !important;
    font-weight: 700;
  }


  p-ripple p-element p-button p-component p-fileupload-choose p-button-icon-only{
    z-index: 0;
	color: #7869C4;
	border: 3px solid #000;
	background-color: #00A595;
  }

  p-fileupload-choose {
    z-index: 0;
    color: #7869C4;
    border: 3px solid #000;
    background-color: #00A595;
  }

  :host ::ng-deep .p-card{
    background-color: #00A595 !important;
  } 