.users {
  overflow-y: auto;
  scrollbar-width: thin;
}

// ::-webkit-scrollbar-track {
//   -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
//   box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
//   border-radius: 10px;
//   background-color: lightgray;
// }

// ::-webkit-scrollbar {
//   width: 12px;
//   background-color: lightgray;
// }

// ::-webkit-scrollbar-thumb {
//   border-radius: 10px;
//   -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
//   box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
//   background-color: lightgray;
// }
