<!-- <p-button (click)="showPositionDialog('Your game is ready!')" icon="pi" label="Show game invite" styleClass="p-button-warning"></p-button> -->


<p-dialog header="Game Invitation!" 
	[(visible)]="displayPosition" 
	[position]="position" [modal]="false" 
	[style]="{'min-width': '200px'}" 
	[baseZIndex]="10000"
  [draggable]="true" 
	[resizable]="false"
	[closable]="false">
    <!-- <p>Accept: Move you to the game room</p> -->
	<ng-template pTemplate="footer">
					
	<button pButton id="joinGameButton"
	label="Accept"
	class="p-button-raised"
	[disabled]="disabled"
	loadingIcon="pi pi-spinner pi-spin"
	(click)="acceptInvite()"
	>Accept</button>

	<button pButton id="leaveGameButton"
	label="Refuse"
	class="p-button-raised"
	[disabled]="disabled"
	loadingIcon="pi pi-spinner pi-spin"
	(click)="refuseInvite()"
	>Refuse</button>
            <!-- <p-button icon="pi pi-check" (onClick)="displayPosition=false;joinGame()" label="Join" class="p-button-text"></p-button> -->
            <!-- <p-button icon="pi pi-times" (click)="displayPosition=false" label="Hide"></p-button> -->
						<!-- <p-button icon="pi pi-times" (onClick)="displayPosition=false" label="Cancel"></p-button> -->
  </ng-template>
</p-dialog>
