.card {
	margin-top: 15px;
	height: 250px;
	width: 175px;
	border-radius: 30px;
	position: relative;
	background-color: #00A595  !important;
	border: 3px solid black;;
}

:host ::ng-deep .p-dialog-title{
	-webkit-text-stroke: black;
	-webkit-text-stroke-width: 1px;
	font-family: "PixelPowerline";
	font-weight: 20;
	font-size: 4rem;
	color: #fff;
	display: block;
}

:host ::ng-deep .p-dialog{
	width: 500px;
}

.display-center{
	display: flow-root;
}

h1 {
	-webkit-text-stroke: black;
	-webkit-text-stroke-width: 1px;
	font-family: "PixelPowerline";
	font-weight: 20;
	font-size: 1rem;
	color: #fff;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

.center {
  margin: auto;
  width: 50%;
  padding: 5px;
}

:host ::ng-deep.p-inputtext {
  background-color: #7869c4 ;
}

:host ::ng-deep.p-inputtext:hover {
  border: none;
}


:host ::ng-deep .p-button{
  background-color: #00a595;
  color: #7869C4;
  border: 3px solid black;
  border-radius: 12px;
 }

 :host ::ng-deep .p-button:hover {
	color: #00a595;
  background-color: transparent;
	border: 3px solid black;
}