<!-- *ngIf="!me.isTwoFactorAuthEnabled" -->
<div >
  <p-button
    type="button"
    label="Activate 2 factors authentication"
    class="p-button-raised p-button-success p-button-text"
    (click)="showDialog()"
  ></p-button>

  <p-dialog header="SCAN ME" [(visible)]="displayDialog">
    <ng-template pTemplate="content" class="display-center">
      <img [src]="codeQR" />
      <div class="center">
        <input
          type="text"
          pInputText
          placeholder="Enter your verification code"
          [(ngModel)]="code"
        />
      </div>
      <div class="center">
        <p-button
          *ngIf="isCode()"
          (click)="turnOnTwoFactorAuth(); authenticate(); closeDialog()"
        >
          Turn on 2FA
        </p-button>
      </div>
    </ng-template>
  </p-dialog>
</div>
