
.card {
	margin-top: 15px;
	height: 250px;
	width: 175px;
	border-radius: 30px;
	position: relative;
	background-color: #00A595  !important;
	border: 3px solid black;;
}


:host ::ng-deep.p-inputtext {
  background-color: #7869c4 ;
}

:host ::ng-deep.p-inputtext:hover {
  border: none;
}