<div *ngIf="!me.isTwoFactorAuthenticated">
  <button
    pButton
    pRipple
    type="button"
    label="Activate 2 factors authentication"
    class="p-button-raised p-button-success p-button-text"
    (click)="showDialog()"
  ></button>

  <p-dialog
    header="Scan me to enable 2 factor authentication"
    [(visible)]="displayDialog"
  >
    <img [src]="codeQR" />
    <input
      type="text"
      pInputText
      placeholder="Enter your verification code"
      [(ngModel)]="code"
    />
    <button
      (click)="turnOnTwoFactorAuth(); authenticate()"
      [disabled]="!isCode()"
    >
      Turn on 2FA
    </button>
  </p-dialog>
</div>
