<app-room-list></app-room-list>

<button (click)="getGames()">Get games</button>

<div [@stagger]="games.length" class="rooms">
	<ul>
  <li *ngFor="let game of games">
		{{game.id}} p1:{{game.player1Id}} p2:{{game.player2Id}} score:{{game.scorePlayer1}} | {{game.scorePlayer2}} winner:{{game.winner}}
      <!-- <span class="name">{{room.name}}</span> -->
	</ul>
</div>

<!-- <div *ngIf="selectedRoom">
  <h2>{{selectedRoom.name | uppercase}} Details</h2>
  <div>id: {{selectedRoom.id}}</div>
  <div>
    <label for="hero-name">Hero name: </label>
    <input id="hero-name" [(ngModel)]="selectedRoom.name" placeholder="name">
  </div>
</div> -->

<!-- <ul [@roomListState] #roomList id="roomList">
	{{RoomList}}
</ul> -->
<app-pong-screen></app-pong-screen>


<!-- <app-title></app-title> -->
