//===== PRE LOGGIN PAGE ==============
.log-page{
	overflow: hidden;
	// background-image: linear-gradient(to right, #00cdac 0%, #8ddad5 100%);
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	margin: 0  0;
}

@media  screen and (min-width: 1050px) and (max-width: 1675px) {
	.title-div .title-logpage {
		font-size: 6rem;
	}

	.ball-div .ball {
		height: 4rem;
		width: 4rem;
	}
}

@media  screen and (min-width: 850px) and (max-width: 1050px) {
	.title-div .title-logpage {
		font-size: 4.5rem;
	}
	.ball-div .ball {
		height: 3rem;
		width: 3rem;
	}
}

@media  screen and (min-width: 650px) and (max-width: 850px) {
	.title-div .title-logpage {
		font-size: 4rem;
	}
	.ball-div .ball {
		height: 3rem;
		width: 3rem;
	}
}

@media  screen and (min-width: 500px) and (max-width: 650px) {
	.title-div .title-logpage {
		font-size: 3.5rem;
	}
	.ball-div .ball {
		height: 2rem;
		width: 2rem;
	}
	.button-div .btn-grad {
		font-size: 0.7rem;
		padding: 10px 40px;
	}
}

@media  screen and (min-width: 350px) and (max-width: 500px) {
	.title-div .title-logpage {
		font-size: 3rem;
	}
	.ball-div .ball {
		height: 2rem;
		width: 2rem;
	}
	.button-div .btn-grad {
		font-size: 0.5rem;
		padding: 8px 38px;
	}
}

@media  screen and (min-width: 0px) and (max-width: 350px) {
	.title-div .title-logpage {
		font-size: 2rem;
	}
	.button-div .btn-grad {
		font-size: 0.5rem;
		padding: 8px 38px;
	}
}

.title-div {
	width: 100%;
	height: 100%;
	position: relative;
}

 h3 {
	margin-top: -4rem;
}

.title-logpage {
	-webkit-text-stroke: black;
	-webkit-text-stroke-width: 3px;
	// margin-top: -0.4rem;
	font-family: "PixelPowerline";
	font-weight: 50;
	font-size: 12rem;
	color: #fff;
	transition: 0.3s;
	text-shadow: -20px -20px #7869C4,
					-17px -17px #000,
					-23px -23px #000;
}

.title-logpage:hover {
	color: #fff;

	text-shadow:
	0 0 7px #0c1013,
	0 0 10px #0c1013,
	0 0 21px #BABDBF,
	0 0 42px #7869C4,
	0 0 82px #7869C4,
	0 0 92px #7869C4,
	0 0 102px #7869C4,
	0 0 151px #7869C4;
}


p {
	color: #68758A;
	font-size: 18px;
}

.btn-grad {
	background-color: #fff;
	padding: 15px 45px;
	text-align: center;
	text-transform: uppercase;
	transition: 0.3s;
	background-size: 200% auto;
	color: #7869C4;
	-webkit-text-stroke: black;
	-webkit-text-stroke-width: 1.5px;
	border-radius: 10px;
	display: block;
	font-family: PixelPowerline;
	font-weight: 200;
	letter-spacing: 4px;
	transition: 0.3s ease-in-out;
	z-index: 1;
	border-color: #000;
	font-size: 1.6rem;
	position: absolute;

  }

  .btn-grad:hover {
	scale: 1.2;
	background-color: #7869C4;
	background-position: right center; /* change the direction of the change here */
	color: #fff;
	text-decoration: none;
}

// ====== LOGGIN PAGE ===========
.nav-bar {
	position: absolute;
}

.home-page {
	// overflow: hidden;
	// background-color: #404040;
	// margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	margin: 0  0;
}

.card {
	width: 100%;
	height: 100%;
}

.home-container {
	position: relative;
	height: 100%;
	// width: 100%;
}

.home-page-card {
	border-radius: 30px;
	width: 700px !important;
	position: relative;
	background-color: #00A595  !important;
	// background-color: #000  !important;
	border: 3px solid black;;
	box-shadow: -30px -30px #7869C4,
				-30px -28px #000,
				-28px -30px #000,
				-32px -32px #000;
	
}

.img-container {
	background-color: #00A595;
	border: 3px solid #000;
	border-radius: 8px;
	box-shadow: -10px -10px #7869C4,
				-10px -8px #000,
				-8px -10px #000,
				-12px -12px #000;
	width: auto;
	height: auto;
	margin-bottom: 20px;
}

@media  screen and (min-width: 0px) and (max-width: 600px) {
	.home-page-card img {
		width: 160px;
		height: 160px;
	}
}




img {
	width: 200px;
	height: 200px;
	transition: 0.3s;
}

img:hover {
	scale: 1.2;
	color: #ededed;
	cursor: pointer;
}

h2 {
	font-size: 30px;
	font-family: Franchise;
	font-weight: 50;
	// font-size: 10rem;
	color: #08090a;
	transition: 0.3s;
}

.title-homepage  {
	-webkit-text-stroke: black;
	-webkit-text-stroke-width: 3px;
	// margin-top: -0.4rem;
	font-family: "PixelPowerline";
	font-weight: 50;
	font-size: 6rem;
	color: #fff;
	// color: #000;
	transition: 0.3s;
	text-shadow: -20px -20px #7869C4,
					-17px -17px #000,
					-23px -23px #000;
}
