<section class="home-page" id="home" *ngIf="!user; else loggedIn">
  <div class="card">
    <div class="flex flex-column card-container">
      <div class="title-div flex align-items-center justify-content-center m-2">
        <h1 class="title">!Transcendence!</h1>
      </div>
      <div class="flex align-items-center justify-content-center m-2">
        <button
          class="btn-grad"
          pButton
          type="button"
          label="LOGIN"
          (click)="handleClick()"
        ></button>
      </div>
      <div class="fm-2">
        <div class="ball"></div>
      </div>
    </div>
  </div>
</section>

<ng-template #loggedIn>
  <section>
    <h1>VACHIER ECOUTE HARRY POTTER</h1>
  </section>
</ng-template>
