<section class="log-page" id="log" *ngIf="!user; else loggedIn">
	<div class="grid">
		<div class="title-div flex col-12 align-items-center justify-content-center m-2">
			<div class="grid">
				<div class="col-12 mb-5">
					<h1 class="block text-center title-logpage">!Transcendence!</h1>
					<!-- <h3 class="block text-center">PONG GAME BY JOMST</h3> -->
				</div>
			</div>
		</div>
		<div class="col-12 button-div flex align-items-center justify-content-center">
			<button
			class="btn-grad"
			pButton
			type="button"
			label="LOGIN"
			(click)="handleClick()"
			></button>	
		</div>
		<!-- <div class="ball-div fm-2">
			<div class="ball"></div>
		</div> -->
	</div>
</section>


<ng-template #loggedIn>
	<section class="home-page" id="home">
		<div class="grid">
			<div class="user-card col-12">
				<div class="grid">
					<div class="flex sm:col-12 md:col-12 lg:col-3 xl:col-3 align-items-center justify-content-center">
						<!-- <ig class="profile-img" src="../../../../assets/image/player-test.jpg" alt="Image"/>
						<h3 class="player-name">Johnny Sins</h3> -->
						<app-user-img [avatarUrl]="user?.avatarUrl" [userIsMe]="userService.userIsMe(user.id, user.id)" (eventUpload)="refreshUser()"></app-user-img>
						<app-user-displayname [user]="user" [userIsMe]="userService.userIsMe(user.id, user.id)"></app-user-displayname>
					</div>
					<div class="flex sm:col-12 md:col-12 lg:col-8 xl:col-8 align-items-center justify-content-center">
						<p class="title-homepage">!Transcendence!</p>
					</div>
				</div>
			</div>
			<div class="menu-card xl:col-2 lg:col-2 md:col-hidden xs:col-hidden flex justify-content-center h-auto">
				<div class="menu-item">
					<ul>
						<li><a routerLink="/play">PLAY</a></li>
						<li><a routerLink="/watch">WATCH</a></li>
						<li><a routerLink="/chats">CHATS</a></li>
						<li><a routerLink="/users/id">USERS</a></li>
						<li><a routerLink="/stats">STATS</a></li>
						<li><a routerLink="/settings">SETTINGS</a></li>
					</ul>
				</div>
			</div>
			<div class="game-card col-10">
				<div class="grid">
					<div class="game-card xl:col-6 lg:col-6 md:col-12 sm:col-12 xs:col-12 flex justify-content-center align-items-center">
						<div class="grid">
							<div class="xl:col-6 lg:col-6 md:col-12 sm:col-12 xs:col-12 flex justify-content-center align-items-center">
								<div class="grid">
									<div class="col-12">
										<h2 class="text-center">CLASSIC</h2>
									</div>
									<div class="col-12 flex justify-content-center align-items-center">
										<a routerLink="./classic" PLAY GAME><img  width="350"  src="assets/image/pong_classic.svg" alt="classic mode image and queue join"/></a>
									</div>
								</div>
							</div>
							<div class="xl:col-6 lg:col-7 md:col-12 sm:col-12 xs:col-12 flex justify-content-center align-items-center">
								<div class="grid">
									<div class="col-12">
										<h2 class="text-center">CUSTOM</h2>
									</div>
									<div class="col-12 flex justify-content-center align-items-center">
										<a routerLink="./classic"><img width="350" src="assets/image/custom-pong.svg" alt="classic mode image and queue join"/></a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="watch-card xl:col-6 lg:col-6 md:col-12 sm:col-12 xs:col-12 h-auto flex justify-content-center align-items-center">
						<div class="grid">
							<div class="col-12">
								<h2 class="text-center">WATCH</h2>
								<div class="flex-shrink-1 w-8">
									<app-pong-screen></app-pong-screen>

								</div>
							</div>
						</div>
					</div>
					<div class="chats-card col-12 h-auto">
						CHATS
					</div>
				</div>
			</div>
		</div>
	</section>
</ng-template>
