<div class="flex flex-column">
  <div *ngIf="!user.isOwner && me.isOwner">
    <h5>Role</h5>
    <p-dropdown
      class="mr-2"
      [options]="roles"
      [(ngModel)]="role"
      optionLabel="name"
      optionValue="value"
    ></p-dropdown>
    <button
      (click)="close()"
      pButton
      type="button"
      label="Update Role"
    ></button>
  </div>
  <div class="mt-4">
    <app-game-invite [userId]="user.userId"></app-game-invite>
  </div>
  <div class="mt-4" *ngIf="!user.isOwner && me.role === 'ADMIN'">
    <button
      class="mr-2"
      (click)="ban()"
      pButton
      type="button"
      label="Ban"
    ></button>
    <button (click)="mute()" pButton type="button" label="Mute"></button>
  </div>
  <div class="mt-4">
    <app-dm-invite (onClick)="cancel()" [userId]="user.userId"></app-dm-invite>
  </div>
</div>
