<div [ngSwitch]="state" *ngIf="!userIsMe">
  <p-button
    *ngSwitchCase="'ADD'"
    type="button"
    class="p-button-rounded p-button-info p-button-outlined p-button-sm remove-btn p-button-icon-only"
    (onClick)="friendButton('ADD'); stateChanged('ADD')"
  >
    <img src="/assets/image/ADD_FRIEND.png" width="50px"
  /></p-button>

  <p-button
    *ngSwitchCase="'REMOVE'"
    type="button"
    class="p-button-rounded p-button-info p-button-outlined p-button-sm remove-btn p-button-icon-only"
    (onClick)="friendButton('REMOVE'); stateChanged('REMOVE')"
  >
    <img src="/assets/image/REMOVE_FRIEND.png" width="25px" />
  </p-button>

  <p-button
    *ngSwitchCase="'DISABLE'"
    type="button"
    [disabled]="true"
    icon="pi pi-times"
    class="p-button-rounded p-button-info p-button-outlined p-button-sm"
  >
  </p-button>
</div>
