<div [ngSwitch]="state" *ngIf="!userIsMe">
  <p-button
    *ngSwitchCase="'BLOCK'"
    type="button"
    icon="pi pi-user"
    class="p-button-rounded p-button-info p-button-outlined"
   
  ></p-button>

  <p-button
    *ngSwitchCase="'UNBLOCK'"
    type="button"
    icon="pi pi-check"
    class="p-button-rounded p-button-info p-button-outlined"
  
  ></p-button>

  <p-button
    *ngSwitchCase="'DISABLE'"
    type="button"
    [disabled]="true"
    icon="pi pi-check"
    class="p-button-rounded p-button-info p-button-outlined"
  ></p-button>
</div>
