<section class="play-page" id="play">
	<div class="grid flex card align-items-center justify-content-center mt-2">
		<div class="col-12">
			<h1 class="title text-center">!TRANSCENDENCE!</h1>
		</div>
		<div class="grid flew lg:flex-none align-items-center justify-content-center card-container">
		<div class="separator ml-7"></div>
			<div class="col flex-none md:col-5 sm:col-7 flex-grow-0 align-items-center justify-content-center">
				<h2 class="text-center">PLAY</h2>
				<a routerLink="./classic"><img  class="justify-content-center" src="assets/image/pong_classic.svg" alt="classic mode image and queue join"/></a>
				<app-queue-button></app-queue-button>
				<div class="separator mb-6"></div>
			</div>
			<div class="separator-1 mr-8"></div>
			<div class="col flex-none md:col-5 sm:col-7 flex-grow-0 align-items-center justify-content-center text-align-center">
				<h2 class="text-center">CUSTOM</h2>
				<a routerLink="./classic"><img class="" src="assets/image/custom-pong.svg" alt="classic mode image and queue join"/></a>
				<div class="separator mb-6"></div>
			</div>
			<div class="separator mr-7"></div>
		</div>
	</div>
</section>
