.play-page {
	// height: 100%;
	// width: 100%;
	// display: flex;
	overflow-x: hidden;
	z-index: -1;
}

.card-container {
	// background-color: #fff;
	background-color: #000;
	// background-color: #7869C4;
	height: 70% auto;
	// width:  60%;
	border-radius: 10px;
	border: 3px solid #000;

}

.card-container::before {
	content: "";
	position: absolute;
}

img {
	position: relative;
	border-radius: 10px;
	max-height: 600px;
	max-width: 800px;
	border: 3px solid #000;
	box-shadow: -10px -10px #00A595,
				-7px -7px #000,
				-13px -13px #000;
	
}

.title {
	-webkit-text-stroke: black;
	-webkit-text-stroke-width: 3px;
	// margin-top: -0.4rem;
	font-family: "PixelPowerline";
	font-weight: 50;
	font-size: 9rem;
	color: #000;
	// color: #fff;
	transition: 0.3s;
	text-shadow: -20px -20px #7869C4,
					-17px -17px #000,
					-23px -23px #000;
}

h2 {
	font-family: PixelPowerline;
	font-size: 42px;
	-webkit-text-stroke: black;
	-webkit-text-stroke-width: 2px;
		color: #7869C4;
		// color: #B7A1FF;
		// color: #00A595;
		 text-shadow: 
		 -10px -10px #00A595,
		//  -10px -10px #00A595,
						-10px -8px #000,
		 				-8px -10px #000,
						-12px -12px #000;
}

@media  screen and (min-width: 0px) and (max-width: 1280px) {
	// .grid .card-container {
	// 	display: flex-none;
	// }
}
@media  screen and (min-width: 910px) and (max-width: 1160px) {
	.grid .title {
		font-size: 5rem;
	}
}

@media  screen and (min-width: 0px) and (max-width: 910px) {
	.grid .separator {
		display: none !important;
	}
	.grid .card-container {
		display: flex-none;
		// background-color: #00A595;
		// width: 500px;
	}
	.grid .title {
		font-size: 5rem;
	}
}

@media  screen and (min-width: 1160px) and (max-width: 1320px) {
	.grid .title {
		font-size: 6rem;
	}

	.grid img {
		width: 500px;
		// height: 300px;
	}
}

@media  screen and (min-width: 880px) and (max-width: 1160px) {
	.grid img {
		width: 400px;
		// height: 250px;
	}
}

@media  screen and (min-width: 600px) and (max-width: 880px) {
	.grid img {
		width: 360px;
		// height: 300px;
	}
}

@media  screen and (min-width: 0px) and (max-width: 770px) {
	.grid .separator-1 {
		display: none !important;
	}
}

@media  screen and (min-width: 400px) and (max-width: 600px) {
	.grid img {
		width: 360px;
		// height: 200px;
	}
	.grid .title {
		font-size: 3rem;
	}

}

@media  screen and (min-width: 0px) and (max-width: 400px) {
	.grid img {
		width: 200px;
		// height: 100px;
	}
	.grid .title {
		font-size: 2rem;
	}
}