.play-page {
	height: 100%;
	width: 100%;
	// display: flex;
}

.card {
	height: 100%;
	width: 100%;
}


.card-container {
	height: 70% auto;
	width:  auto;
	background: rgb(104, 117, 138, 0.3);
	border-radius: 10px;
	border: 2px solid #ededed;

}

.card-container::before {
	content: "";
	position: absolute;
}

img {
	position: relative;
	border-radius: 10px;
	max-height: 600px;
	max-width: 800px;
	border: 2px solid #ededed;
}

.title {
	margin-top: -0.4rem;
	font-family: "PowerRangers";
	font-weight: 50;
	font-size: 10rem;
	color: #68758A;
	transition: 0.3s;
		text-shadow:
    		0 0 7px #fff,
    		0 0 10px #fff,
    		0 0 21px #68758A,
    		0 0 42px #68758A,
    		0 0 82px #0c1013,
    		0 0 92px #0c1013,
    		0 0 102px #68758A,
    		0 0 151px #68758A;
}

h2 {
	position: relative;
	// transform: translate(-50%, -50%);
}

@media  screen and (min-width: 0px) and (max-width: 1280px) {
	// .grid .card-container {
	// 	display: flex-none;
	// }
}

@media  screen and (min-width: 0px) and (max-width: 950px) {
	.grid .separator {
		display: none !important;
	}
	.grid .card-container {
		display: flex-none;
	}
	.grid .title {
		font-size: 5rem;
	}
}

@media  screen and (min-width: 1120px) and (max-width: 1320px) {
	.grid img {
		width: 500px;
		// height: 300px;
	}
}

@media  screen and (min-width: 880px) and (max-width: 1120px) {
	.grid img {
		width: 500px;
		// height: 250px;
	}
}

@media  screen and (min-width: 600px) and (max-width: 880px) {
	.grid img {
		width: 500px;
		// height: 300px;
	}
}

@media  screen and (min-width: 400px) and (max-width: 600px) {
	.grid img {
		width: 400px;
		// height: 200px;
	}
	.grid .title {
		font-size: 3rem;
	}

}

@media  screen and (min-width: 0px) and (max-width: 400px) {
	.grid img {
		width: 200px;
		// height: 100px;
	}
	.grid .title {
		font-size: 2rem;
	}
}