<!-- <section class="play-page" id="play">
	<div class="grid flex card align-items-center justify-content-center mt-2">
		<div class="col-12">
			<h1 class="title text-center">TRANSCENDENCE</h1>
		</div>
		<div class="col-8 card-container">
			<div class="image-card grid flex-none justify-content-center">
				<div class="lg:col-5 md:col-5 sm:col-12 flex-column">
					<h2 class="text-center">CLASSIC</h2>
					<div class="mode-container ">
						<img  class="classic-img " src="assets/image/classi-mauve.svg" alt="classic mode image and queue join"/>
						<app-queue-button class="queu-button"></app-queue-button>
					</div>
				</div>
				<div class="lg:col-6 md:col-6 sm:col-12 flex-column">
					<h2 class="text-center">CONTROL</h2>
					<div class="grid f">
						<div class="lg:col-6 md:col-6 sm:col-12">
							<h3>move paddel up</h3>
							<img src="assets/image/arrow_up.svg" alt="up arrow" class="arrow-img"/>
							<img src="assets/image/right_arrow.svg" alt="up arrow" class="arrow-img"/>
						</div>
						<div class="lg:col-6 md:col-6 sm:col-12">
							<h3>move paddel down</h3>
							<img src="assets/image/down_arrow.svg" alt="up arrow" class="arrow-img"/>
							<img src="assets/image/Left_arrow.svg" alt="up arrow" class="arrow-img"/>
						</div>
					</div>
				</div>
			</div>
		</div>
</div>
</section> -->
<section class="play-page" id="play">
	<div class="grid flex card justify-content-center mt-2">
		<div class="col-12">
			<h1 class="title text-center">TRANSCENDENCE</h1>
		</div>
		<div class="grid flew lg:flex-none justify-content-center card-container">
		<div class="separator ml-7"></div>
			<div class="image-card col flex-none lg:col-5 md:col-5 sm:col-6 flex-grow-0 align-items-center justify-content-center">
				<h2 class="text-center">CLASSIC</h2>
				<div class="mode-container flex align-items-center">
					<img  class="justify-content-center" src="assets/image/classi-mauve.svg" alt="classic mode image and queue join"/>
					<app-queue-button class="queu-button"></app-queue-button>
				</div>
				<div class="separator mb-6"></div>
			</div>
			<div class="separator-1 mr-8"> </div>
			<div class="image-card col flex-none ml-2 lg:col-5 md:col-5  sm:col-6 flex-grow-0 justify-content-center ">
				<h2 class="text-center">CONTROL | RULES</h2>
				<div class="mode-container align-items-center justify-content-center">
					<h3 class="text-center">move paddle up/right</h3>
					<div class="flex justify-content-center">
						<img class="flex align-items-center" src="assets/image/arrow_up.svg" alt="up arrow" class="arrow-img"/>
						<img class="flex align-items-center" src="assets/image/right_arrow.svg" alt="up arrow" class="arrow-img2"/>
					</div>
					<h3 class="text-center">move paddle down/left</h3>
					<div class=" flex justify-content-center align-items-center">
						<img src="assets/image/down_arrow.svg" alt="up arrow" class="arrow-img"/>
						<img src="assets/image/Left_arrow.svg" alt="up arrow" class="arrow-img2"/>
					</div>
					<h4 class="text-center">First who get 7 win</h4>
				</div>
				<div class="separator mb-6"></div>
			</div>
			<div class="separator mr-7"></div>
		</div>
	</div>
</section>
<!-- <section class="play-page" id="play"> 4388733573
	<div class="grid flex card align-items-center justify-content-center mt-2">
		<div class="col-12">
			<h1 class="title text-center">TRANSCENDENCE</h1>
		</div>
		<div class="grid flew lg:flex-none align-items-center justify-content-center card-container">
		<div class="separator ml-7"></div>
			<div class="image-card col flex-none md:col-5 sm:col-7 flex-grow-0 align-items-center justify-content-center">e
				<h2 class="text-center">CLASSIC</h2>
				<div class="mode-container">
					<img  class="justify-content-center" src="assets/image/classi-mauve.svg" alt="classic mode image and queue join"/>
					<app-queue-button class="queu-button"></app-queue-button>
				</div>
				<div class="separator mb-6"></div>
			</div>
			<div class="separator-1 mr-8"> </div>
			<div class="image-card col flex-none md:col-5 sm:col-7 flex-grow-0 align-items-center justify-content-center text-align-center">
				<h2 class="text-center">CUSTOM</h2>
				<div class="mode-container">
					<img class="" src="assets/image/custom-mauve.svg" alt="classic mode image and queue join"/>
					<app-queue-button class="queu-button"></app-queue-button>
				</div>
				<div class="separator mb-6"></div>
			</div>
			<div class="separator mr-7"></div>
		</div>
	</div>
</section> -->
<!-- <app-pong-screen></app-pong-screen> -->