<section class="play-page" id="play">
	<div class="flex card align-items-center justify-content-center">
		<div class="grid flex lg:flex-none align-items-center justify-content-center card-container">
			<div class="col flex-grow-0 align-items-center justify-content-center">
				<h2 class="text-center">PLAY</h2>
				<a routerLink="./classic"><img  class="justify-content-center" src="assets/image/pong_classic.svg" alt="classic mode image and queue join"/></a>
			</div>
			<div class="separator mr-8"></div>
			<div class="col flex-grow-0 align-items-center justify-content-center text-align-center">
				<h2 class="text-center">CUSTOM</h2>
				<a routerLink="./classic"><img class="" src="assets/image/custom-pong.svg" alt="classic mode image and queue join"/></a>
			</div>
		</div>
	</div>
</section>
