// @import "~bootstrap/dist/css/bootstrap.css";


@font-face {
  font-family: "Franchise";
  src: local("Franchise"), url(./assets/fonts/Franchise.ttf);
}

@font-face {
  font-family: "Poppins";
  src: local("Poppins"), url(./assets/fonts/Poppins/Poppins-Regular.ttf);
}

@font-face {
  font-family: "Lato";
  src: local("Lato"), url(./assets/fonts/Lato/Lato-Light.ttf);
}

@font-face {
  font-family: "Monoton";
  src: local("Monoton"), url(./assets/fonts/Monoton/Monoton-Regular.ttf);
/* You can add global styles to this file, and also import other style files */
// https://cssgradient.io/gradient-backgrounds/
}

@font-face {
	// src: "/Users/olabrecq/Project/Transcendence/transcendence-spa/font/NotoSansJP-Black.otf";
	font-family: "PowerRangers";
	src: local("PowerRangers"), url(./assets/fonts/powerRangers.ttf);
}

@font-face {
	// src: "/Users/olabrecq/Project/Transcendence/transcendence-spa/font/NotoSansJP-Black.otf";
	font-family: "PixelPowerline";
	src: local("PixelPowerline"), url(./assets/fonts/PixelPowerline.ttf);
}

html {
	height: 100%;
	width: 100%;
	// background: linear-gradient(90deg, #662d91 0%, #3A1C71 100%);

}

body {
	height: 100%;
	width: 100%;
	background-color: #00A595;
	// background-color: red;
	// background-image: repeating-conic-gradient(red 0deg 10deg, yellow 10deg 20deg, blue 20deg 30deg, green 30deg 40deg, rgb(224, 100, 255) 40deg 50deg);
	
	// background: linear-gradient(90deg, #9893ca 0%, #453193  100%);

	

}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
