@import "~bootstrap/dist/css/bootstrap.css";


@font-face {
  font-family: "Franchise";
  src: local("Franchise"), url(./assets/fonts/Franchise.ttf);
}

@font-face {
  font-family: "Poppins";
  src: local("Poppins"), url(./assets/fonts/Poppins/Poppins-Regular.ttf);
}

@font-face {
  font-family: "Lato";
  src: local("Lato"), url(./assets/fonts/Lato/Lato-Light.ttf);
}

@font-face {
  font-family: "Monoton";
  src: local("Monoton"), url(./assets/fonts/Monoton/Monoton-Regular.ttf);
/* You can add global styles to this file, and also import other style files */
// https://cssgradient.io/gradient-backgrounds/
}

@font-face {
	// src: "/Users/olabrecq/Project/Transcendence/transcendence-spa/font/NotoSansJP-Black.otf";
	font-family: "PowerRangers";
	src: local("PowerRangers"), url(./assets/fonts/powerRangers.ttf);
}

html {
	height: 100%;
	width: 100%;
	// background: linear-gradient(90deg, #662d91 0%, #3A1C71 100%);

}

body {
	height: 100%;
	width: 100%;
	background-color: #0D0D0D;
	// background-color: #0D0D0D;
	// background: linear-gradient(90deg, #0D0D0D 0%, #404040 100%);

	// background: linear-gradient(90deg, #662d91 0%, #3A1C71 100%);

	// background: linear-gradient(90deg, #FE01D8 0%, #B533FF 100%);

	// background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
	//  background-blend-mode: multiply,multiply;

	// background: linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 150%), linear-gradient(to top, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.25) 200%);
	// background-blend-mode: multiply;

	// background-image: linear-gradient(to right, #d7d2cc 0%, #304352 100%);

	// background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);

	// background-image: linear-gradient(to right, #434343 0%, black 100%);

	// background-image: linear-gradient(to right, #f83600 0%, #f9d423 100%); //2

	// background-image: linear-gradient(to right, #00cdac 0%, #8ddad5 100%);

	// background-image: linear-gradient(to left, #0fd850 0%, #f9f047 100%); //1

	// background-image: linear-gradient(to right, #2b5876 0%, #4e4376 100%);

}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
