h2 {
	padding-top: 0;
	-webkit-text-stroke: black;
	-webkit-text-stroke-width: 3px;
	// margin-top: -0.4rem;
	font-family: "PixelPowerline";
	font-weight: 50;
	font-size: 2.7rem;
	color: #7869C4;
	transition: 0.3s;
	margin: 20px 10px 15px 10px;
	// transform: translateX(-50%);
	// text-shadow: -20px -20px #7869C4,
	// 				-17px -17px #000,
	// 				-23px -23px #000;
}