h3 {
  padding: 0px;
  padding-top: -10px;
  margin: 0px;
}

.message {
  height: 400px;
  overflow-y: scroll;
  scrollbar-color: lightgrey darkgrey;
  scrollbar-width: thin;
  color: var(--primary-color-text);
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: lightgray;
}

::-webkit-scrollbar {
  width: 12px;
  background-color: lightgray;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: lightgray;
}
