<p-card class="p-card" [ngClass]="friendState ? '' : 'blockedCard'">
  <ng-template pTemplate="content">
    <a routerLink="/users/{{ user?.id }}" style="cursor: pointer">
      <app-user-avatar
        [avatarUrl]="user?.avatarUrl"
        [user]="user"
      ></app-user-avatar>
    </a>
    <span style="padding: 1rem 1rem 1rem">{{ user?.displayName }}</span>
    <p-button
      type="button"
      class="p-button-sm"
      (click)="showDialog()"
      icon="pi pi-external-link"
    ></p-button>
  </ng-template>
</p-card>

<p-dialog header="Title" [(visible)]="display">
  <ng-template pTemplate="header">
    <app-user-avatar
      [avatarUrl]="user?.avatarUrl"
      [user]="user"
    ></app-user-avatar>
    <div>{{ user?.displayName }}</div>
  </ng-template>
  carte utilisateur - est ce qu'on met du contenu ?
  <ng-template pTemplate="footer">
    <span class="p-buttonset" class="button-set">
      <app-friend-btn
        [userIsMe]="user.id === me.id"
        [me]="me"
        [user]="user"
        (stateChange)="resetPage()"
      ></app-friend-btn>

      <app-blocked-btn
        [userIsMe]="user.id === me.id"
        [me]="me"
        [user]="user"
        (stateChange)="resetPage()"
      ></app-blocked-btn>

      <a routerLink="/users/{{ user?.id }}">
        <button
          pButton
          type="button"
          icon="pi pi-user"
          (click)="closeDialog()"
        ></button>
      </a>
    </span>
  </ng-template>
</p-dialog>
