<p-card class="p-card" [ngClass]="friendState ? '' : 'blockedCard'">
  <ng-template pTemplate="content">
    <a routerLink="/users/{{ user?.id }}" style="cursor: pointer">
      <app-user-avatar
        *ngIf="user"
        [avatarUrl]="user?.avatarUrl"
        [user]="user"
      ></app-user-avatar>
    </a>
    <span style="padding: 1rem 1rem 1rem">{{ user?.displayName }}</span>
    <p-button
      type="button"
      class="p-button-sm"
      (click)="showDialog()"
      icon="pi pi-external-link"
    ></p-button>
  </ng-template>
</p-card>

<p-dialog
  header="Title"
  [(visible)]="display"
  [dismissableMask]="true"
  [modal]="true"
>
  <ng-template pTemplate="header">
    <app-user-avatar
      [avatarUrl]="user?.avatarUrl"
      [user]="user"
    ></app-user-avatar>
    <div>{{ user?.displayName }}</div>
  </ng-template>
  <ng-template pTemplate="footer">
    <span class="p-buttonset" class="button-set">
      <app-friend-btn
        class="p-button-sm"
        [userIsMe]="user.id === me.id"
        [me]="me"
        [user]="user"
        (stateChange)="resetPage()"
      ></app-friend-btn>

      <app-blocked-btn
        class="p-button-sm"
        [userIsMe]="user.id === me.id"
        [me]="me"
        [user]="user"
        (stateChange)="resetPage()"
      ></app-blocked-btn>

      <button
        pButton
        class="p-button-sm"
        type="button"
        icon="pi pi-user"
        (click)="closeDialog()"
        routerLink="/users/{{ user?.id }}"
      ></button>
    </span>
  </ng-template>
</p-dialog>
