<aside class="sidebar">
  <!-- <div #ballWrap id="ball-wrapper" [@ballMove]="{value: selection, params: { topeBall: topBall, lefteBall: leftBall }}"> -->
  <div #ballWrap id="ball-wrapper">
    <!-- <div #ball class="ball" [ngStyle]="{'display':displayBall, 'top':topBall+'px', 'left':leftBall+'px'}"></div> -->
    <!-- <div #ball class="ball" [ngStyle]="{'display':displayBall}" [@ballTest]="toggle"></div> -->
    <div
      #ball
      class="ball"
      [@ballMove]="{
        value: selection,
        params: { topBall: topBall, leftBall: leftBall }
      }"
    ></div>
  </div>
  <nav class="nav">
    <ul>
      <li
        (mouseover)="select($any($event.target))"
        (mouseout)="unselect($any($event.target))"
        routerLink="/play"
      >
        <a>Play</a>
      </li>
      <li
        (mouseover)="select($any($event.target))"
        (mouseout)="unselect($any($event.target))"
        routerLink="/watch"
      >
        <a>Watch</a>
      </li>
      <li
        (mouseover)="select($any($event.target))"
        (mouseout)="unselect($any($event.target))"
        routerLink="/users"
      >
        <a>Users</a>
      </li>
      <li
        (mouseover)="select($any($event.target))"
        (mouseout)="unselect($any($event.target))"
      >
        <a routerLink="/stats">Stats</a>
      </li>
      <li
        (mouseover)="select($any($event.target))"
        (mouseout)="unselect($any($event.target))"
      >
        <a href="#">Settings</a>
      </li>
    </ul>
  </nav>
</aside>

<!-- <div class="navbar_all">
	<div class="container-nav">
		<div class="navbar-header">
			<a href="#" class="navbar-title">TRANSCENDENCE</a>
		</div>
		<ul class="navbar-nav">
			<li><a href="#">Home</a></li>
			<li><a href="#">Users</a></li>
			<li><a href="#">Pong Game</a></li>
			<li><a href="#">Stats</a></li>
			<li><a href="#">Settings</a></li>
		</ul>
	</div>
</div> -->

<!-- <section class="tilte">
  <h1>TRANSCENDENCE</h1>
</section> -->
<!--
<nav>
  <ul>
    <li>
      <div class="home-icon">
        <div class="roof">
          <div class="roof-edge"></div>
        </div>
        <div class="front"></div>
      </div>
    </li>
    <li>
      <div class="about-icon">
        <div class="head">
          <div class="eyes"></div>
          <div class="beard"></div>
        </div>
      </div>
    </li>
    <li>
      <div class="work-icon">
        <div class="paper"></div>
        <div class="lines"></div>
        <div class="lines"></div>
        <div class="lines"></div>
      </div>
    </li>
    <li>
      <div class="mail-icon">
        <div class="mail-base">
          <div class="mail-top"></div>
        </div>
      </div>
    </li>
  </ul>
</nav> -->
