<section class="pong-game">
	<div id="screenContainer" class="watch-screen">
		<div class="col-12 flex align-items-center justify-content-center">
			<app-pong-versus
			[user1]="roomInfo?.user1"
			[user2]="roomInfo?.user2">
			</app-pong-versus>
			<!-- <div class="grid">
				
				<div class="col-4 flex align-items-center justify-content-start">
						<app-user-avatar *ngIf="roomInfo?.user1" [user]="roomInfo.user1" [avatarUrl]="roomInfo.user1.avatarUrl" ></app-user-avatar>
				</div>
				<div class="col-4 flex align-items-center justify-content-center"><h2>VS</h2></div>
				<div class="col-4 flex align-items-center justify-content-end">
					<app-user-avatar *ngIf="roomInfo?.user2" [user]="roomInfo.user2" [avatarUrl]="roomInfo.user2.avatarUrl" ></app-user-avatar>
				</div>
			</div> -->
		</div>
		<div id="canvasContainer">
			<app-pong-3dscreen *ngIf="threeD" class="gameCanvas"></app-pong-3dscreen>
			<app-pong-screen *ngIf="!threeD" class="gameCanvas"></app-pong-screen>
			<span id="score1" class="score" [innerHTML]="score.p1"></span>
			<span id="score2" class="score" [innerHTML]="score.p2"></span>
			<app-pong-end-overlay *ngIf="gameEnded" id="pongEndOverlay" 
				[winnerAvatarUrl]="winner?.avatarUrl"
				[winnerName]="winner?.displayName"
				[endState]="endState">
			</app-pong-end-overlay>
		</div>
		<!-- <span [innerHTML]="timer"></span> -->
		<span id="countdownLabel" [innerHTML]="countdownLabel"></span>
		<span *ngIf="countdown != 0" id="countdown" [@.disabled]="animDisabled" [innerHTML]="countdown"></span>
	</div>
	<div class="col-12 screen-buttons flex align-items-center justify-content-center">
		<app-room-list *ngIf="!isPlayer"></app-room-list>
		<app-ready-button class="screen-button" *ngIf="isPlayer"></app-ready-button>
		<button class="screen-button mode-button" (click)="set3D(false)">2D</button>
		<button class="screen-button mode-button" (click)="set3D(true)">3D</button>
		<button *ngIf="gameEnded" class="mode-button screen-button" (click)="leaveGame()">Return home</button>
	</div>
	
</section>
