<section class="play-page" id="play">
    <div class="grid flex card justify-content-center mt-2">
        <div class="col-12">
            <h1 class="title text-center">TRANSCENDENCE</h1>
        </div>
        <div class="grid flew lg:flex-none justify-content-center card-container">
        <div class="separator ml-7"></div>
            <div class="image-card col flex-none lg:col-5 md:col-5 sm:col-6 flex-grow-0 align-items-center justify-content-center">
                <h2 class="text-center">CLASSIC</h2>
                <div class="mode-container flex align-items-center">
                    <img  class="justify-content-center" src="assets/image/classi-mauve.svg" alt="classic mode image and queue join"/>
                    <app-queue-button class="queu-button"></app-queue-button>
                </div>
                <div class="separator mb-6"></div>
            </div>
            <div class="separator-1 mr-8"> </div>
			<div class="image-card col flex-none ml-2 lg:col-5 md:col-5  sm:col-6 flex-grow-0 justify-content-center ">
                <h2 class="text-center">CONTROL | RULES</h2>
                <div class="mode-container align-items-center justify-content-center">
                    <h3 class="text-center">move paddle up/right</h3>
                    <div class="flex justify-content-center">
                        <img class="flex align-items-center" src="assets/image/up_arrow.svg" alt="up arrow"/>
                        <img class="flex align-items-center" src="assets/image/right_arrow.svg" alt="right arrow"/>
                    </div>
                    <h3 class="text-center">move paddle down/left</h3>
                    <div class=" flex justify-content-center align-items-center">
                        <img src="assets/image/down_arrow.svg" alt="down arrow"/>
                        <img src="assets/image/left_arrow.svg" alt="left arrow"/>
                    </div>
                    <h4 class="text-center">First who get 7 win</h4>
                </div>
                <div class="separator mb-6"></div>
            </div>
            <div class="separator mr-7"></div>
        </div>

    </div>
</section>