<div #pongContainer id="roomPongDiv" class="grid">
	<div class="col-12 flex align-items-center justify-content-center">
		<div class="grid">
			<div class="player-info block justify-content-start sm:display-none sm:col-6 md:col-6 lg:col-3 xl:col-3 pr-6">
				<div class="grid">
					<div class="col-12 block">
						<img class="profile-img" src="../../../../assets/image/player-test.jpg" alt="Image"/>
						<h3 class="player-name">DISPLAY NAME</h3>
					</div>
				</div>
			</div>
			<div class="grid small-window-player-info justify-content-center align-items-center">
				<div class="col-4">
					<img class="profile-img" src="../../../../assets/image/player-test.jpg" alt="Image"/>
					<h3 class="player-name">DISPLAY NAME</h3>
				</div>
				<div class="col-4">
					<h2>JBADIA VS MIKASTIV</h2>
				</div>
				<div class="col-4">
					<img class="profile-img" src="../../../../assets/image/player-test.jpg" alt="Image"/>
					<h3 class="player-name">DISPLAY NAME</h3>
				</div>
			</div>
			<div class="flex align-items-center justify-content-center sm:col-12 md:col-12 lg:col-6 xl:col-6">
				<app-pong-screen></app-pong-screen>
			</div>
			<div class="player-info flex justify-content-end sm:col-6 md:col-6 lg:col-3 xl:col-3">
				<div class="grid">
					<div class="col-12 block">
						<img class="profile-img" src="../../../../assets/image/player-test.jpg" alt="Image"/>
						<h3 class="player-name">DISPLAY NAME</h3>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-12 flex align-items-center justify-content-center">
		<app-ready-button></app-ready-button>
	</div>
</div>
<app-pong-input></app-pong-input>


<!-- <div #pongContainer id="roomPongDiv" class="grid">
	<div class="grid">
		<div class="col-6 col-offset-3 align-items-center justify-content-center flex">
			<app-pong-screen></app-pong-screen>
		</div>
	</div>
	
	<div class="grid">
		<div class="flex justify-content-start col-4">
			<img class="profile-img" src="../../../../assets/image/player-test.jpg" alt="Image"/>
			<h3 class="player-name">DISPLAY NAME</h3>
		</div>
		<div class="flex justify-content-end  col-4 col-offset-4">
			<img class="profile-img" src="../../../../assets/image/player-test.jpg" alt="Image"/>
			<h3 class="player-name">DISPLAY NAME</h3>
		</div>
	</div>
	<div class="col-12 flex align-items-center justify-content-center">
		<app-ready-button></app-ready-button>
	</div>
</div> -->