.center {
	margin: 0 auto;
	text-align:center;
	// border-radius: 8px;
}

#roomList {
	display:inline-block;
	vertical-align:top;
	min-width: 100px;
	max-width: 100px;
	margin-right: 10px;
	overflow: hidden;
}

#debugLog {
	background-color: black;
	text-align: left;
	border: 5px solid green;
	width: 500px;
	height: 200px;
	overflow: scroll;
}

#debugLog {
	background-color: black;
	text-align: left;
	border: 5px solid green;
	width: 500px;
	height: 200px;
	overflow: scroll;
}

#debugLog p {
	color: green;
	padding: 0px 5px 5px 5px;
	
}

#roomPongDiv {
	border-radius: 10px;
}

button {
	// text-align:center;

		position: relative;
		// background-image: linear-gradient(to right, #FEAC5E 0%, #C779D0  51%, #FEAC5E  100%);
		background-image: -webkit-linear-gradient(0deg, #9bd62c 0%, #e83990  0%, #e60073  100%);
		margin: 10px;
		padding: 15px 45px;
		text-align: center;
		text-transform: uppercase;
		transition: 0.5s;
		background-size: 200% auto;
		color: white;            
		box-shadow: 0 0 20px #9bd62c;
		border-radius: 10px;
		display: block;
		font-family: Monoton;
		// font-family: PowerRangers;
		font-weight: 50;
		letter-spacing: 4px;
	
	// 	text-shadow:
	//     		0 0 7px #fff,
	//     		0 0 10px #fff,
	//     		0 0 21px #fff,
	//     		0 0 42px #e60073,
	//     		0 0 82px #e60073,
	//     		0 0 92px #e60073,
	//     		0 0 102px #e60073,
	//     		0 0 151px #e60073;
	
}

button:hover {
	cursor: pointer;
  background-image: -webkit-linear-gradient(0deg, #e60073 0%, #f8e300  0%, #f8e300  100%);
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
  box-shadow: 0 0 20px #e60073;

}